<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rule Modification Service | CDSS4PCP</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-reboot.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-utilities.css" rel="stylesheet">
</head>
<body>

<script src="/bootstrap/js/bootstrap.bundle.js"></script>
<h1 class="text-center">Rule Modification Service</h1>

<p class="text-center">Rule Modification Service is running!</p>


<p class="text-center">Work in progress</p>
</body>
</html>
